{%extends "layout.html"%}
{%block content%}
<div class="contact-info">
  <div class="contact-info-splash">
    <h1 class="display-4">For Catering and Events</h1>
    <hr class="my-4">
    <p class="lead">We do reservations for catering and parties with bookings
      for live performances, entertainment, special events, etc.</p>
      <div class="social-media-links">
        <ul>
          <li><img src="{{url_for('static', filename='images/telephone-call.svg')}}" alt=""><span>516-680-2970</span></li>
          <li><img src="{{url_for('static', filename='images/instagram.svg')}}" alt=""><a href="https://www.instagram.com/redroosterhouse.rvc/">redroosterhouse.rvc</a></li>
          <li><img src="{{url_for('static', filename='images/email.svg')}}" alt=""><span>redroosterrvc@gmail.com</span></li>
        </ul>

      </div>
  </div>
</div>
{%endblock%}
