{%extends "layout.html"%}
{%block content%}
<section class='homepage-information'>
  <div class="jumbotron" id="site-jumbotron">
    <div class="container">
      <h1 class="display-4 home-header mb-5">Local Spanish Food Done Right</h1>
      <p class="lead">A family owned restaurant located in the heart of Rockville Centre, specializing in Spanish Cuisine. Stop by and
        try our specialties: <i>Rotisserie Chicken, Authentic Paella, and Savory Empanadas</i>!
      </p>
      <a class="btn btn-danger btn-lg mt-3" href="{{ url_for('menu') }}" target="_blank">MENU</a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" >
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-header text-center">
            <h5 class = "card-title mb-1">We Have You in Mind</h5>
          </div>
          <img class="card-img-top" src="{{url_for('static', filename='images/cook_at_stove.JPG')}}" alt="">
          <div class="card-body">
            <p class= "card-text">The health and safety of our customers is our number one priority.
            All employees are in protective equipment to reduce the spread.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-header text-center">
            <h5 class = "card-title mb-1">All of Our Food is Fresh</a>
          </div>
          <img class="card-img-top" src="{{url_for('static', filename='images/rotisserie.jpg')}}" alt="">

          <div class="card-body">
            <p class= "card-text">From the chicken and empanadas, to our famous paella,
              all of our food is fresh when it arrives to your table.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-9" >
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-header">
            <h5 class = "card-title">A Little About Us...</a>
          </div>
          <div class="card-body">
            <p class= "card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--Debugging Scrolling (delete) -->

</section>









{%endblock%}
