{%extends "layout.html"%}
{%block content%}
<section class='homepage-information'>
  <div class="jumbotron" id="site-jumbotron">
    <div class="container">
      <h1 class="display-4 home-header mb-5">Local Spanish Food Done Right</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a class="btn btn-danger btn-lg mt-3" href="{{ url_for('menu') }}" target="_blank">MENU</a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" >
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-header text-center">
            <h5 class = "card-title">Featured Item One</a>
          </div>
          <img class="card-img-top" src="{{url_for('static', filename='images/empanadas.JPG')}}" alt="">
          <div class="card-body">
            <p class= "card-text"> </p>
          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-header text-center">
            <h5 class = "card-title">Featured Item Two</a>
          </div>
          <img class="card-img-top" src="{{url_for('static', filename='images/chicken_potatoes.jpeg')}}" alt="">

          <div class="card-body">
            <p class= "card-text"> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-9" >
        <div class="card mb-4 shadow-sm border-0">
          <img class="card-img-top" src="" alt="">
          <div class="card-header">
            <h5 class = "card-title">Featured Item Three</a>
          </div>
          <div class="card-body">
            <p class= "card-text"></p>
          </div>
        </div>
      </div>
    </div>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra justo nec ultrices dui. Amet justo donec enim diam vulputate ut. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Tortor condimentum lacinia quis vel eros donec ac odio. Blandit libero volutpat sed cras ornare arcu dui. Id porta nibh venenatis cras sed. Eu mi bibendum neque egestas congue quisque egestas diam. Mus mauris vitae ultricies leo integer malesuada nunc vel risus. Dui id ornare arcu odio ut.

    Neque sodales ut etiam sit amet nisl purus in. Dolor morbi non arcu risus quis varius. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Amet risus nullam eget felis. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium. At auctor urna nunc id cursus metus aliquam eleifend mi. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Mi quis hendrerit dolor magna eget est lorem. Orci nulla pellentesque dignissim enim. Mi ipsum faucibus vitae aliquet.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra justo nec ultrices dui. Amet justo donec enim diam vulputate ut. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Tortor condimentum lacinia quis vel eros donec ac odio. Blandit libero volutpat sed cras ornare arcu dui. Id porta nibh venenatis cras sed. Eu mi bibendum neque egestas congue quisque egestas diam. Mus mauris vitae ultricies leo integer malesuada nunc vel risus. Dui id ornare arcu odio ut.

    Neque sodales ut etiam sit amet nisl purus in. Dolor morbi non arcu risus quis varius. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Amet risus nullam eget felis. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium. At auctor urna nunc id cursus metus aliquam eleifend mi. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Mi quis hendrerit dolor magna eget est lorem. Orci nulla pellentesque dignissim enim. Mi ipsum faucibus vitae aliquet.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra justo nec ultrices dui. Amet justo donec enim diam vulputate ut. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Tortor condimentum lacinia quis vel eros donec ac odio. Blandit libero volutpat sed cras ornare arcu dui. Id porta nibh venenatis cras sed. Eu mi bibendum neque egestas congue quisque egestas diam. Mus mauris vitae ultricies leo integer malesuada nunc vel risus. Dui id ornare arcu odio ut.

    </p>
  </div>

  <!--Debugging Scrolling (delete) -->

</section>









{%endblock%}
