<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon"/>
    <title>Red Rooster House Menu, Rockville Centre, Authentic Spanish Food Menu</title>
  </head>
  <body style="margin:0;" role="menu">
    <object type="application/pdf" data="{{url_for('static', filename='menu.pdf')}}" style="min-height:100vh;width:100%">
    </object>
  </body>
</html>
