body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family:'Open Sans', sans-serif;
}

main{
  height: 100vh;
  width: 100%;
}


img{max-width: 100%;}

.navbar{
  padding: .5em;
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: .8s;
}
.navbar img{
  width: 85px;
  height: 85px;
  margin: 0;
  padding-left: .4em;
  transition: .8s;
}

.nav-restaurant-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 50px;
  padding-left: 1em;
  color: white !important;
  text-shadow: 2px 1px #000000;
  transition: .8s;
}

.navbar-collapse{
  padding-left: .5em;
}

.navbar li{
  padding: .1em .8em;
}

.navbar ul{
  font-weight: 700;
  transition: .8s;
  font-size: 21px;
}

.nav-link{
  color: white !important;
  text-shadow: 1px 1px #000000;
}

.navbar li:hover{
  background-color: #971C1C;
}

.home-header{
  font-weight: 600;
  font-style: italic;
}


.jumbotron{
  background-image: url(images/empanadas.JPG);
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  padding: 20em 5em;
  transition: 1s;
  position: sticky;
}

.jumbotron .container{
  background-color: rgba(20, 20, 21, 0.5);
  padding: 1em;
  border-radius: 2em;
  color: white;
  padding-bottom: 1em;
}

.col-xl-9{
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}



.contact-info{
  background-image: url(images/restaurant_crew.JPG);
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
}

.contact-info-splash{
  background-color: rgba(20, 20, 21, 0.8);
  position: relative;
  width: 50%;
  height: 45%;
  left: 10%;
  top: 30%;
  color:white;
  padding: 1em;
}

.social-media-links{
  position: relative;
  left: 70%;
  margin-top: auto;
  color: white;
}
