body{
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family:'Open Sans', sans-serif;
}

main{
  height: 100vh;
  max-width: 100%;
}


img{
  max-width: 100%;
  height: auto;
}

#collapsing-navbar.navbar-collapse.collapse.show,
#collapsing-navbar.navbar-collapse.collapsing  {
  max-width: 60%;
  margin-right: 20%;
  margin-left: auto;
  text-align: center;
  background-color: rgba(143, 17, 17, 0.99);
  border-radius: 1em;
}

.navbar{
  padding: .5em;
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: .8s;
}
.navbar img{
  width: 85px;
  height: 85px;
  margin: 0;
  padding-left: .4em;
  transition: .8s;
}

.nav-restaurant-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 50px;
  padding-left: 1em;
  color: white !important;
  text-shadow: 2px 1px #000000;
  transition: .8s;
}



.navbar li{
  padding: .1em .8em;
}

.navbar ul{
  font-weight: 700;
  transition: .8s;
  font-size: 21px;
}

.nav-link{
  background: linear-gradient(to right, #CFB53B, #CFB53B 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.nav-link:hover{
  background-position: 0 100%;
}

.home-header{
  font-weight: 600;
  font-style: italic;
}


.jumbotron{
  background-image: url(images/landing_paella-2.JPG);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  padding: 20em 5em;
  transition: 1s;
  position: sticky;
}

.jumbotron .container{
  padding: 1em;
  border-radius: 2em;
  color: white;
  padding-bottom: 4em;
  margin-left: 4em;
}

.homepage-information{
  background-image: url(images/bar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 25%;
}

.container-fluid{
  margin-top: 3em;
}

.row {
  display: flex;
  max-width: 90%;
  margin-right:5%;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.col-md-5 .card-img-top{
  height: 35vh;
}

.col-xl-9{
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 8em;
}

.card{
  background-color: #252420;
  color: white;
  border-radius: 1em;
  font-family: 'Montserrat', sans-serif;
}


.contact-info{
  background-image: url(images/restaurant_front.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 0 20%;
  min-height: 100vh;
}

.contact-info-splash{
  background-color: rgba(20, 20, 21, 0.8);
  max-width: 80%;
  height: 75%;
  color:white;
  position: relative;
  top: 10em;
  left: 2em;
}


.col-md-7{
   margin-right: 1em;
}

.social-media-links{
  margin-top: 10%;
  color: white;
}


.social-media-links img{
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.social-media-links ul{
  list-style-type: none;
  font-size: 20px;
}
.social-media-links li{
  padding: 1em;

}

.social-media-links li a{
  color: white;

}
